* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #6CAA80;
}
.btn-primary {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #6CAA80;
    color: #FFFFFF;
}
.btn-secondery {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
}
/* Header and navigation styles */
header {
    background-color: #e9f2eb;
    background-image: url('../images/header-bg.png'), url('../images/designer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title{
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

font-family: Manrope;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

}
nav {
    display:flex;
    justify-content: space-between;
    padding: 50px 200px;
    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
/* Banner Styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
    /* margin-left: 700px; */
}
.banner-title {
    font-weight: 700;
    font-size: 75px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin: 20px;
}
.banner-description {
    color: #54595F;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */

.about {
    text-align: center;
    margin-top: 130px;
    background-color: #e9f2eb;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title {
    
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description {
    color: #54595F;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about-info-container {
    display: flex;
    justify-content: space-around;
   
}
.info-title {
    font-size: 20px;
    color: #54595F;
}
.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #54595F;
}
/* What I do section styles */

.my-skills {
    margin-top: 130px;
    
}
.skills-container {
    display:flex;
    justify-content: space-between;
    gap: 24px;

}
.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px;
}
.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}
.skill-description {
    font-size: 18px;
    color: #54595F;
    margin-top: 20px;
}
.resume{
    margin-top: 130px;
    margin-bottom: 70px;
   
}
/* Resume Styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title {
    font-size: 20px;
    font-weight: 700;
    color: #54595F;
    margin-bottom: 10px;
    margin-top: 20px;
}
.resume .sub-title{
    font-size: 18px;
    font-weight: 600;
    color: #54595F;
    margin-bottom: 10px;
}
.resume .description{
    color: #54595F;
    border-bottom: solid 2px #54595F;
    padding-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}