* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #6CAA80;
}
.btn-primary {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #6CAA80;
    color: #FFFFFF;
}
/* Header and navigation styles */
header {
    background-color: #e9f2eb;
    background-image: url('../images/header-bg.png'), url('../images/Designer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title{
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

font-family: Manrope;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0em;
text-align: left;

}
nav {
    display:flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
/* Banner Styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title {
    font-weight: 700;
    font-size: 75px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin: 20px;
}
.banner-description {
    color: #54595F;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */

.about {
    text-align: center;
    margin-top: 130px;
    background-color: #e9f2eb;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title {
    
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    color: #54595F;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container {
    display: flex;
}